
.mapBox{
    width:100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}
/*底部工具样式*/
.bottomTips{
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    z-index: 50;
    padding: 5px;
    padding: 10px;
}
.showType{
    margin: 0 auto 5px;
    text-align: center;
    overflow: hidden;
    width: 100vw;
}
.buttonClose{
    position: absolute;
    right: 15px;
    top: 15px;
}
.showType li{
    display: inline-block;
    position: relative;
    margin: 0 5px;
    border: 1px solid rgba(0,0,0,0);
    box-sizing: border-box;
    cursor: pointer;
}
.showType li span{
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #ffffff;
    display: block;
    text-indent: 10px;
    z-index: 100;
}
.showType li:hover{
    border: 1px solid #fff;
    background: rgba(255,255,255,0.1);
}
.showType li img{
    height: 76px;
}
/*右边样式*/
.rightTips{
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
}
.rightMenu{
    margin-top: 8px;
    margin-right: 20px;
    color:#fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.rightMenu li{
    text-align: center;
    background: rgba(0,0,0,0.5);
    height: 58px;
    line-height: 58px;
    width: 58px;
    cursor: pointer;
}
.rightMenu>ul>li:hover{
    color: #0079C1;
}
.menuBox{
    position: absolute;
    top: 10px;
    width: 350px;
    right: 80px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: none;
}
.menuBox .tab-pane{
    margin-top: 20px;
}
.rightMenu .active{
    color: #0079C1;
    border: 1px solid rgba(255,255,255,0.2);
}
.boxClose{
    margin-top: 5px;
}
.boxTitle{
    line-height: 30px
}
#rendererDom{
    width: 100% !important;
    height: 100% !important;
}





