<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#layers_case" aria-controls="layers_case" role="tab" data-toggle="tab">图层</a></li>
    <!--<li role="presentation"><a href="#layers" aria-controls="layers" role="tab" data-toggle="tab">图例</a></li>-->
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="layers_case">
        <div id="treeview-checkable">
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" id ="checkns" checked="checked"> 北宋地图-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox" id ="checkss"checked="checked"> 南宋地图-->
                        <!--</label>-->
                    <!--</div>-->
        </div>
    </div>
</div>
</body>
<script src="src/layers.js"></script>
</html>